@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap'); 


body{
    background-color: #393E46;
    color:#EEEEEE;
}
body h1{
    text-align:center;
    color:#FFD369;
}
body h3{
    color:#0088a9; 
}
#skills h3{
    text-align:center;
    color:#0088a9;
    
}

#contact{
    font-size:16px;
    text-align:center;
    line-height: 2;
    padding-bottom:0px;
}
hr{
    margin:auto;
    padding-bottom:40px;
    padding-top:40px;
    border-style: none;
    border-top: 10px dotted #9DBEB9;
    width: 10%;
}
.about{
    width:400px;
}
.container1{
    text-align:center;
    padding-top:30px;
}
.container1 h1{
    color:#FFD369;
    font-size:40px;
}
.container1 h4{
    color:#EEEEEE;
    font-size:20px;
}
.bottom-container{
    color:#0088a9;
    background-color: #24252a;
    text-align: center;
    padding-top:20px;
    padding-bottom: 5px;
    line-height: 2;
   
}
.bottom-container a {
    color: wheat;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
}

.bottom-container img:hover{
    background-color: #0088a9 ;
    border-radius: 50%;
}

.footer-imgs{
    width: 40px;
    height: 40px;
}
#float-box1{
    line-height: 2;
    text-align:left;
    padding-top:50px;
    padding-bottom:50px;
    padding-left:150px;
    padding-right:150px;
}
#float-box2{
    line-height: 2;
    text-align:right;
    padding-top:50px;
    padding-bottom:150px;
    padding-left:150px;
    padding-right:150px;
}

.float-box-img-left{
    
    border-radius: 50%;
    float: left;
    height:200px;
    width:200px;
    margin-right: 30px;
}
.float-box-img-right{
    border-radius: 50%;
    float: right;
    height:200px;
    width:200px;
    margin-left: 30px;
}

#text-box{
    font-size:20px;
    padding-top:50px;
    color:#FFD369;
    margin: 0 auto;
    width:50%;
    display:flex;
    justify-content: center;
    /* padding:auto; */
    /* width:400px; */
    text-align:center;
    padding-bottom:80px;
}

#skills{
    text-align:center;
    line-height: 2;
    padding-bottom:40px;
}



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px ;
    color: #edf0f1;
    text-decoration: none;
}

.logo{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #edf0f1;
    font-size: 30px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:25px 1%;
    background-color: #24252a;
}

.navbar{
    list-style: none;
}

.navbar li {
    display: inline-block;
    padding: 0px 20px;
}

.navbar li a{
    transition: all 0.3s ease 0s;
}

.navbar li a:hover{
    color: #0088a9;
}
/*
.home{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
}

.home{
    background-image: url('Images/Bg.png');
    background-size: cover;
    background-position: top center;
    position: relative;
}
*/